.item {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 300px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 3px #bea69e;
  padding: 10px;
  color: #121212;
}

@media only screen and (min-width: 1000px) {
  .item {
    width: 295px;
  }
}

.itemBtn {
  padding: 5px 10px;
  color: #121212;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #bea69e;
  }
}
